body { 
    font-family: 'Nunito', sans-serif; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.04); 
    /*font-size: 16px;*/
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.th-sort-link {
    cursor: pointer;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#show-password {
    position: absolute;
    right: 55px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #ccc;
}

#show-text {
    position: absolute;
    right: 55px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}