<div class="col-md-12">
    <h2>My Details</h2>
    <hr>
    <div class="row row-eq-height">
        <img ng-src="{{ profileCtrl.user.avatar }}" class="col-md-4 col-md-offset-2 img-reponsive">
        <ul class="list-group col-md-4">
            <li class="list-group-item"><h4> {{ profileCtrl.user.fullName }}</h4></li>
            <li class="list-group-item"><em>Email:</em> {{ profileCtrl.user.email }}</li>
            <li class="list-group-item"><em>Username:</em> {{ profileCtrl.user.username }}</li>
            <li class="list-group-item"><em>Role:</em> {{ profileCtrl.user.role }}</li>
            <li class="list-group-item"><em>Status:</em> {{ profileCtrl.user.status }}</li>
            <li class="list-group-item"><em>Created by:</em> <a ng-href="#/view/{{profileCtrl.user.createdBy}}"> View Details</a></li>
            <li class="list-group-item"><em>Created at:</em> {{ profileCtrl.user.createdAt | dateToISO  | date:'dd-MMM-yyyy'}} at {{ profileCtrl.user.createdAt | dateToISO  | date:' HH:mm'}}</li>
            <li class="list-group-item"><em>Last updated at:</em> {{ profileCtrl.user.updatedAt | dateToISO  | date:'dd-MMM-yyyy'}} at {{ profileCtrl.user.updatedAt | dateToISO  | date:' HH:mm'}}</li>
        </ul>
    </div>
</div>